//@import "variables"; // refatorar para IASD Bootstrap
//@import "mixins"; // remover - refatorar para IASD Bootstrap

@import "iasd-bootstrap";

@import "_base"; // refatorar para IASD Bootstrap
//@import "header"; // refatorar para IASD Bootstrap
//@import "footer"; // refatorar para IASD Bootstrap
@import "pagination"; // refatorar para IASD Bootstrap
@import "slider"; 
@import "widgets"; 
@import "sprite";
//@import "_refactor"; // IASD Bootstrap

section { 
  h1, h2, h3 { color: $headingsColor;} //escolher um lugar melhor para esta declaração
}

a {
  color: $linkColor;
  &:hover {
    color: $linkColorHover;
  }
}

.n-pic4-vert img, .n-pic2-vert img, 
.n-pic1-hor img, .n-pic1-article img, 
.n-pic4-excerpt img, .n-pic2-hor img, 
.n-pic3-vert li:first-child img, .n-pic2-list img, 
.n-pic2-link img {
   border-color: $coloredBorderColor;
}
.n-pic8-highlight a:hover { color: $navMenuL1Color;}
.n-pic8-highlight .highlight-legend {
  background: $coloredBorderColor;
}


#lider-sul-americana, .lideres {

  .saber-mais:hover{
    color: $navMenuL1Color;
    background: $navMenuL1Color;
    @include gradient-vertical($navMenuL1Color,$navMenuL2Background);
    border: solid 1px $navMenuL2Background;
  }

  a:hover {
    color: $linkColorHover;
    text-decoration: none;
  } 
}


#archive-projetos .projeto-item{
  &:hover{
    text-decoration: none;  
    
    h3 {
      color: $linkColorHover;  
    } 
  }

  &.thumbnail-link:after {
    background: $coloredBorderColor;
    color: $navMenuL1Color;;
  }
}


#single-projetos .projetos-faq dl dt span{
  color: $linkColor;
}


#archive-testemunhos .more-testemunhos:hover{
  color: $navMenuL1Color;
  background: $navMenuL1Background;
  @include gradient-vertical($navMenuL1Background,$navMenuL1BackgroundHover);
  border: solid 1px $navMenuL1BackgroundHover;
}





















