.wp-pagenavi {
  margin-top: 10px;
  margin-bottom: 50px;
  text-align: right;

  .previouspostslink, .nextpostslink, .first, .last {
    font-family: $baseFontFamily;
    color: $btnBackgroundHighlight; 
    font-size: $baseFontSize; 
    font-style: italic;
    border: 0px;
    background: none;
    box-shadow: none;
  }
  a, .page.smaller {
    background: $btnBackground;
    border-radius: 50%;
    font-size: $fontSizeSmall;
    font-family: $baseFontFamily;
    color: #918a7e;
    border: solid 1px #cec9c0;
    box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.6) inset, 1px 1px 2px rgba(255, 255, 255, 0.6);
    margin: 0px 2px;
    padding: 6px 10px;
    line-height: 28px;
  }
  .current {
    @include gradientBar($btnBackground, $btnBackgroundHighlight);
    border-radius: 50%;
    font-size: $fontSizeSmall;
    font-family: $baseFontFamily;
    //color: #fbf6f0;
    border: solid 1px $btnBackgroundHighlight;
    box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.6) inset;
    padding: 6px 10px;
  }

  .extend {
    border: none;
    text-decoration: none;
    padding: 3px 5px;
    margin: 2px;
  }
}



/*



.wp-pagenavi { 
  margin-top: 10px;
  margin-bottom: 50px;
  text-align: right;
}
.wp-pagenavi a:first-child, .wp-pagenavi a:last-child { 
  font-family: 'Lato'; 
  color: #e7a300; 
  font-size: 14px; 
  font-style: italic;
  border: 0px;
  background: none;
  box-shadow: 0px 0px 0px #ffffff;
}
.wp-pagenavi a, .wp-pagenavi .page.smaller,  .wp-pagenavi .page.larger { 
  background: #e8e2d8;
  border-radius: 50%;
  font-size: 12px;
  font-family: 'Lato';
  color: #918a7e;
  border: solid 1px #cec9c0;
  box-shadow: 1px 1px 2px rgba(255,255,255,0.6) inset, 1px 1px 2px rgba(255,255,255,0.6);
  margin: 0px 2px;
  padding: 6px 10px;
  line-height: 28px;
}
.wp-pagenavi span.current { 
  background: #72afb6;
  border-radius: 50%;
  font-size: 12px;
  font-family: 'Lato';
  color: #fbf6f0;
  border: solid 1px #64999f;
  box-shadow: 1px 1px 2px rgba(255,255,255,0.6) inset;
  padding: 6px 10px;
}
.wp-caption-text {
  font-size: 12px;
  color: #3a3a3a;
  background: #e8e2d8;
  border-radius: 0px 0px 4px 4px;
  padding: 10px 20px;
  line-height: 16px;
  display: block;
}
*/