.i18n-nav {
	.iasd-icons {
		display: block;
		&.i18n {
			&:before{ @include icons-sprite(idiomas-normal); height: icons-sprite-height(idiomas-normal); width: icons-sprite-width(idiomas-normal); }
			&:hover:before{ @include icons-sprite(idiomas-hover); height: icons-sprite-height(idiomas-hover); width: icons-sprite-width(idiomas-hover); }
		}
	}
	.menu-item:hover {
		.iasd-icons.i18n:before{ @include icons-sprite(idiomas-hover); height: icons-sprite-height(idiomas-hover); width: icons-sprite-width(idiomas-hover); }
	}
}