/***** Slider *****/
.departamentos-destaques { 
  .flex-control-paging li a.flex-active { background: $sliderActiveItemColor;}
  .slides a { color: #ffffff;}
  .destaques-item {
    @include rgba-background(transparentize($linkColor,0.2));
    width: 100%;
    height: 60px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 10px 20px 50px 20px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    h4 {
      white-space:nowrap;
      overflow:hidden;
    }
  }
}


/***** Botões de destaque - Home *****/

.projetos-departamentos-buttons {
  margin-top: 17px;
}
.projetos-departamentos-buttons a {
  background: #bfb7ab;
  @include gradient-vertical(#bfb7ab, #b4ab9d);

  padding: 0 35px 0 20px;
  border-radius: 3px;
  border: solid 1px #a59d90;
  box-shadow: 1px 1px 2px #ffffff;
  line-height: 15px;
  height: 90px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: block;
  color: #ffffff;
  display: table;
  width: 100%;
  box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.6) inset;
  position: relative;
}

.projetos-departamentos-buttons a:hover {
  text-decoration: none;
  background: $navMenuL1Background;
  @include gradient-vertical($navMenuL1Background,$navMenuL1BackgroundHover);

  border: solid 1px $navMenuL1BackgroundHover;
}

.projetos-departamentos-buttons a:after {
  content: '';
  display: block;
  position: absolute;
  height: 100%;
  right: 10px;
  top: 0;
  bottom: 0;
  margin: auto 0;
}

.projetos-departamentos-buttons h3 {
  font-size: 20px;
  line-height: 20px;
  margin-top: 0px;
  margin-bottom: 5px;
  display: table-cell;
  vertical-align: middle;
  
  font-family: 'Lato';
  text-transform: none;
  font-weight: 700;
  color: $navMenuL1Color;
  border-bottom: 0;
}

.projetos-departamentos-buttons:first-child {
  margin-top: 45px;
}

#departamentos-index {
	.cycloneslider {
		margin-top: 45px;
	}
}