@import "icons/*.png";
@include all-icons-sprites;

.iasd-icon{
	display: inline-block;

	//header
	&.search{ @include icons-sprite(search-header); height: icons-sprite-height(search-header); width: icons-sprite-width(search-header); }

	//social links (for content)
	&.facebook{ @include icons-sprite(projeto-facebook); height: icons-sprite-height(projeto-facebook); width: icons-sprite-width(projeto-facebook); }
	&.twitter{ @include icons-sprite(projeto-twitter); height: icons-sprite-height(projeto-twitter); width: icons-sprite-width(projeto-twitter); }
	&.youtube{ @include icons-sprite(projeto-youtube); height: icons-sprite-height(projeto-youtube); width: icons-sprite-width(projeto-youtube); }
	&.rss{ @include icons-sprite(projeto-rss); height: icons-sprite-height(projeto-rss); width: icons-sprite-width(projeto-rss); }
	&.plus{ @include icons-sprite(projeto-plus); height: icons-sprite-height(projeto-plus); width: icons-sprite-width(projeto-plus); }

	//slider
	&.slider-left{ @include icons-sprite(slider-controls-right); height: icons-sprite-height(slider-controls-right); width: icons-sprite-width(slider-controls-right); }
	&.slider-right{ @include icons-sprite(slider-controls-left); height: icons-sprite-height(slider-controls-left); width: icons-sprite-width(slider-controls-left); }

	//template lideres
	&.lideres-facebook-15{ @include icons-sprite(lideres-facebook-15); height: icons-sprite-height(lideres-facebook-15); width: icons-sprite-width(lideres-facebook-15); }
	&.lideres-facebook-17{ @include icons-sprite(lideres-facebook-17); height: icons-sprite-height(lideres-facebook-17); width: icons-sprite-width(lideres-facebook-17); }
	&.lideres-email{ @include icons-sprite(lideres-email); height: icons-sprite-height(lideres-email); width: icons-sprite-width(lideres-email); }
	&.lideres-twitter{ @include icons-sprite(lideres-twitter); height: icons-sprite-height(lideres-twitter); width: icons-sprite-width(lideres-twitter); }

	&.rss-color{ @include icons-sprite(rss-icon); height: icons-sprite-height(rss-icon); width: icons-sprite-width(rss-icon); }

	//testemunhos
	&.documento{ @include icons-sprite(testemunho-documento); height: icons-sprite-height(testemunho-documento); width: icons-sprite-width(testemunho-documento); }
	&.foto{ @include icons-sprite(testemunho-foto); height: icons-sprite-height(testemunho-foto); width: icons-sprite-width(testemunho-foto); }
	&.video{ @include icons-sprite(testemunho-video); height: icons-sprite-height(testemunho-video); width: icons-sprite-width(testemunho-video); }
	//audio


	// a cortar - > seta do submenu

}

//social links (for footer)
/*footer .social-networks .iasd-icon{
	&.facebook{ 
		@include icons-sprite(footer-facebook); height: icons-sprite-height(footer-facebook); width: icons-sprite-width(footer-facebook); 
		@if(footer-facebook-hover) {
			&:hover {@include icons-sprite(footer-facebook-hover); height: icons-sprite-height(footer-facebook-hover); width: icons-sprite-width(footer-facebook-hover); }
		}
	}
	&.twitter{ 
		@include icons-sprite(footer-twitter); height: icons-sprite-height(footer-twitter); width: icons-sprite-width(footer-twitter); 
		&:hover {@include icons-sprite(footer-twitter-hover); height: icons-sprite-height(footer-twitter-hover); width: icons-sprite-width(footer-twitter-hover); }
	}
	&.youtube{ 
		@include icons-sprite(footer-youtube); height: icons-sprite-height(footer-youtube); width: icons-sprite-width(footer-youtube); 
		&:hover {@include icons-sprite(footer-youtube-hover); height: icons-sprite-height(footer-youtube-hover); width: icons-sprite-width(footer-youtube-hover);}
	}
	&.rss{ 
		@include icons-sprite(footer-rss); height: icons-sprite-height(footer-rss); width: icons-sprite-width(footer-rss); 
		&:hover {@include icons-sprite(footer-rss-hover); height: icons-sprite-height(footer-rss-hover); width: icons-sprite-width(footer-rss-hover);}
	}
	&.plus{ 
		@include icons-sprite(footer-plus); height: icons-sprite-height(footer-plus); width: icons-sprite-width(footer-plus); 
		&:hover {@include icons-sprite(footer-plus-hover); height: icons-sprite-height(footer-plus-hover); width: icons-sprite-width(footer-plus-hover); }
	}
}*/

// slider .. botões grande que ficam ao lado
.projetos-departamentos-buttons a{
	&:hover:after{
		@include icons-sprite(slider-projetos-hover); height: icons-sprite-height(slider-projetos-hover); width: icons-sprite-width(slider-projetos-hover);
	}
	&:after{
		@include icons-sprite(slider-controls-right); height: icons-sprite-height(slider-controls-right); width: icons-sprite-width(slider-controls-right);
	}
}

/// REMOVER S
//icone de idiomas no menu
.menu-departamentos-inner > .menu-item.i18n {
	& > a:before{
		@include icons-sprite(idiomas-normal); height: icons-sprite-height(idiomas-normal); width: icons-sprite-width(idiomas-normal);
	}
	&:hover > a:before{
		@include icons-sprite(idiomas-hover); height: icons-sprite-height(idiomas-hover); width: icons-sprite-width(idiomas-hover);
	}
}

/// REMOVER E

.pic1-gallery .pic1-gallery-inner a {
	&:hover {
		.pic1-gallery-img{
			@include icons-sprite(bg-galeria-hover); height: icons-sprite-height(bg-galeria-hover); width: icons-sprite-width(bg-galeria-hover);
		}  
	}
	.pic1-gallery-img{
		@include icons-sprite(bg-galeria-normal); height: icons-sprite-height(bg-galeria-normal); width: icons-sprite-width(bg-galeria-normal);
	}
}

.departamentos-destaques .flex-direction-nav{
	.flex-prev { 
		@include icons-sprite(slider-controls-left); height: icons-sprite-height(slider-controls-left); width: icons-sprite-width(slider-controls-left);
	}
	.flex-next { 
		@include icons-sprite(slider-controls-right); height: icons-sprite-height(slider-controls-right); width: icons-sprite-width(slider-controls-right);
	}
}