.widget-json-materiais-inner h5 { color: $headingsColor;}
.widget-json-materiais-inner ol li:hover { border-color: $linkColor;}
.widget-json-materiais-inner ol li:before { color: $linkColor; }


/***** Widget Json Client: Vídeos *****/

.widget-json-videos .widget-json-videos-inner ul > li:first-child > a { color:  $linkColor;}
.widget-json-videos .widget-json-videos-inner ul > li > a:hover { color: $linkColor;}
.widget-json-videos .widget-json-videos-inner ul > li > img { border-right: solid 3px $coloredBorderColor;}

/*** Widget eventos ***/
.widget-json-eventos .date{ color: $linkColor; }


/** Widget nossos projetos **/
.departamentos-nossos-projetos li a:hover {
  color: $linkColor;
  text-decoration: none;
}


/** Widget Testemunhos recentes **/

.departamentos-testemunhos li a{
  margin-bottom: 10px;
  display: block;
  .iasd-icon {
    margin-right: 5px;
    vertical-align: middle;
  }
}

/** Widget Mais Lidas ASN **/

.widget-json-noticias-mais-lidas h5 { color: $headingsColor;}
.widget-json-noticias-mais-lidas ol li:hover { border-color: $linkColor;}
.widget-json-noticias-mais-lidas ol li:before { color: $linkColor; }


/** Widget Por-do-sol **/

.pordosol {
	.date {
		margin-left: 0;
		display: none;
	}

	.hour {
		float: none;
	}

	.date_fri {
		text-align: left;
	}
	.date_sab {
		text-align: right;
		padding-left: 0;
		padding-right: 5%;
	}
}


/***** Advanced Solr Server *****/

#content {
  .solr.clearfix.container {
    width: 940px;
    margin-left: auto;
    margin-right: auto;
  }
  > .solr {
    @extend .row;
    padding: 0;
    margin-left: 0;
  }
  .solr_response {
    display: none;
  }
  .solr1 {
    border-bottom: solid 1px #c6bcad;
    box-shadow: 0px 4px 0px rgba(198, 188, 173, 0.3);
    margin-bottom: 30px;
    padding: 0;
    .solr_results_headerL { width: 940px; padding: 15px 0;}
	.search-term {
		font-family: 'Lato';
		font-size: 20px;
		color: $headingsColor;
		text-shadow: none;
		display: inline-block;
		float: left;
	}
	.search-term span { font-weight: bold;}
	.search-counter {
		float: right;
		color: #918a7e;
		font-family: 'Lato';
		font-size: 13px;
		text-shadow: none;
	}
    #searchbox {
      display: table;
      margin-bottom: 5px;
    }
    input#qrybox {
      box-shadow: inset 2px 2px 4px -2px rgba(0,0,0,.3);
      font-size: 20px;
      padding: 10px;
      border-radius: 5px 0 0 5px;
      float: left;
      margin: 0;
      height: 20px;
    }
    input#searchbtn {
      background: #84b985;
      background: -moz-linear-gradient(top, #84b985 0%, #679e68 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #84b985), color-stop(100%, #679e68));
      background: -webkit-linear-gradient(top, #84b985 0%, #679e68 100%);
      background: -o-linear-gradient(top, #84b985 0%, #679e68 100%);
      background: -ms-linear-gradient(top, #84b985 0%, #679e68 100%);
      background: linear-gradient(to bottom, #84b985 0%, #679e68 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#84b985', endColorstr='#679e68',GradientType=0 );
      border: solid 1px #629663;
      color: #fff;
      font: 15px 'Futura Std',sans-serif;
      text-transform: uppercase;
      border-radius: 0 5px 5px 0;
      float: left;
      height: 42px;
      padding: 0 10px;
    }
  }
  .solr2 {
    @extend .span8;
    .solr_results_headerR {
      display: none;
    }
    .solr_results_headerL {
      font-size: 13px;
      color: #999;
      font-style: italic;
      padding: 0 0 20px 0;
    }
    .solr_results {
      //background: red;
      em { color: #3a3a3a;}
      li {
        padding: 0 0 20px 0;
        border-bottom: dashed 1px #c6bcad;
        &:hover {
          background: none;
          h2 a { color: $linkColor;}
        }
        + li {
          margin-top: 25px;
        }
        &:last-child {
          border-bottom: 0;
        }
        h2 {
          border-bottom: 0;
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          box-shadow: none;
          text-transform: none;
          margin-bottom: 5px;
          a {
            font-family: 'Lato';
            color: #3a3a3a;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            display: block;
          }
          + p {
            font-size: 13px;
            line-height: 16px;
          }
        }
        label {
          font-style: 11px;
          color: #999;
        }
      }
    }
    .solr_pages {
      border-top: dashed 1px #c6beb2;
      margin-top: 25px;
      padding-top: 15px;
      a {
        display: inline-block;
        background: #e8e2d8;
        border-radius: 3px;
        font-size: 12px;
        font-family: 'Lato';
        color: #918a7e;
        border: solid 1px #cec9c0;
        box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.6) inset, 1px 1px 2px rgba(255, 255, 255, 0.6);
        margin: 0px 2px;
        line-height: 28px;
        padding: 4px 8px;
        text-align: center;
        &.solr_pages_on {
          background: #fbf6f0;
          color: #c6bcad;
          border: solid 1px #bbbbbb;
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25) inset, 0 1px 0 #ffffff;
          &:hover { color: #c6bcad;}
        }
        &:hover {
          text-decoration: none;
          color: $linkColor;
        }
      }
    }
  }
  .solr3 {
    @extend .span3;
    padding: 0;
    h3 {
      font: 17px 'Futura Std',sans-serif;
      color: $headingsColor;
      margin: 10px 0;
      padding: 0; 
      text-transform: uppercase;
      font-weight: normal;
      border-bottom: solid 1px #c6bcad;
    }
    .solr_facets ol li {
      font-size: 13px;
      font-style: italic;
      padding: 4px 0;
      a {
        color: $linkColor;
        &:hover { text-decoration: underline;}
      }
    }
    ul.solr_facets > li + li {
      margin-top: 10px;
    }
  }
}

/* Menu sidebar */

.menu-projetos {
  margin-top: 40px;
}

.menu-projetos ul.menu { 
  position: static !important;
  border-bottom: solid 1px #c6bcad;
}
.menu-projetos ul.menu li {
  border-top: solid 1px #c6bcad;
  box-shadow: 0px 1px 1px rgba(255,255,255,0.5) inset;
  position: relative;
}
.menu-projetos ul.menu li.i18n { display: none; }

.menu-projetos ul.menu li a {
  color: #918a7e;
  font-family: 'Futura Std','Helvetica Neue',Helvetica,Arial;
  font-size: 13px;
  text-transform: uppercase;
  text-shadow: none;
  margin-left: 20px;
  padding: 10px 0;
  display: block;;
}

.menu-projetos ul.menu > li.active + li {
  margin-top: 9px;
}

.menu-projetos ul.menu li.active > a {
  color: $headingsColor;
  font-size: 15px;
}
.menu-projetos ul.menu li.has_children > a:after {
  content: '';
  width: 10px;
  height: 7px;
  position: absolute;
  top: 20px;
  right: 20px;
  background: image-url('seta-sidebar.png') no-repeat 0 0;
}
/* Sub-menu primeiro nível */
.menu-projetos ul.menu li.active > .sub-menu { display: block; }
.menu-projetos ul.menu .sub-menu { 
  display: none; 
  margin-bottom: -10px;
  border-top: solid 1px #c6bcad;
  background: #f6f6f0; /* Old browsers */
  background: -moz-linear-gradient(left, #f6f6f0 0%, #f4eee8 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#f6f6f0), color-stop(100%,#f4eee8)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #f6f6f0 0%,#f4eee8 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #f6f6f0 0%,#f4eee8 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #f6f6f0 0%,#f4eee8 100%); /* IE10+ */
  background: linear-gradient(to right, #f6f6f0 0%,#f4eee8 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f0', endColorstr='#f4eee8',GradientType=1 ); /* IE6-9 */
}
.menu-projetos ul.menu .sub-menu li { 
  border-bottom: dashed 1px #c6bcad;
  border-top: none;
}
.menu-projetos ul.menu .sub-menu li a {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, sans-serif;
  color: #3a3a3a;
  text-transform: none;
  font-size: 13px;
}

.menu-projetos ul.menu .sub-menu li a:hover {
  font-weight: 700;
  background: #f6f6f0;
}

.menu-projetos ul.menu .sub-menu li:last-child { border-bottom: none;}
/* Sub-menu segundo nível */
.menu-projetos ul.menu .sub-menu li .sub-menu { 
  padding: 10px 0;
  background: #f6f6f0; /* Old browsers */
  background: -moz-linear-gradient(left, #f6f6f0 0%, #e7e1d9 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#f6f6f0), color-stop(100%,#e7e1d9)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #f6f6f0 0%,#e7e1d9 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #f6f6f0 0%,#e7e1d9 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #f6f6f0 0%,#e7e1d9 100%); /* IE10+ */
  background: linear-gradient(to right, #f6f6f0 0%,#e7e1d9 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f0', endColorstr='#e7e1d9',GradientType=1 ); /* IE6-9 */
  margin: 0;
}
.menu-projetos ul.menu .sub-menu li .sub-menu li { 
  border-bottom: 0;
  box-shadow: none;
  padding: 0;
}
.menu-projetos ul.menu .sub-menu .sub-menu a {
  font-style: italic;
  text-transform: none;
  padding: 3px 0;
}
.menu-projetos ul.menu .sub-menu li .sub-menu a:after { content: none; }

