/*** MEDIA QUERIES ***/
/* line 2, ../../../../../../../.rvm/gems/ruby-1.9.3-p362/gems/iasd-bootstrap-sass-0.0.3/stylesheets/_iasd-ie8.scss */
.header-top .nav-principal .fullspan.span4 .input-append .input-xlarge {
  height: 20px;
  margin-top: 9px;
  margin-bottom: 9px;
}

/* line 8, ../../../../../../../.rvm/gems/ruby-1.9.3-p362/gems/iasd-bootstrap-sass-0.0.3/stylesheets/_iasd-ie8.scss */
.header-top .logo-container h2 {
  font-style: normal !important;
}

/* line 13, ../../../../../../../.rvm/gems/ruby-1.9.3-p362/gems/iasd-bootstrap-sass-0.0.3/stylesheets/_iasd-ie8.scss */
.nav-principal .nav-hover .dropdown-menu li {
  border-top: 1px solid #96bc96;
  border-bottom: 1px solid #5c905d;
}

/* line 20, ../../../../../../../.rvm/gems/ruby-1.9.3-p362/gems/iasd-bootstrap-sass-0.0.3/stylesheets/_iasd-ie8.scss */
.footer-menu .menu-item a {
  font-style: normal !important;
}
