
html body, body .asn-header {
	background: white;
	border: none;
	margin: 0px;
}
.asn-header .menu-asn, #asn-noticias > .container > .row > .span4, .asn-header-inner .span5.visible-desktop, .comments, .departamentos-header {
	display: none!important; /*visible desktop*/
}
body > .menu-global, body > .footer {
	display: none;
}

.container > .row > .footer-menu, .container > .row > .copyright-container {
	display: none;
}
.social-widgets, .related_post_title, .related_post {
	display: none;
}

.span8.news-body {
	width: auto;
	padding: 10px;
}
.news-body IMG {
    float: left;
    margin-right: 20px;
}

/*** Logo e Breadcrumb */
.asn-header-inner, .breadcrumb {
	display: none;
}